Repository leer0911/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json -p tsconfig.json, sass-lint -vq

support storybook ts
  .storybook/addons.ts
  .storybook/config.js
  .storybook/config.ts
  .storybook/webpack.config.js
  package-lock.json
  package.json
  src/text/index.ts
  src/text/stories/test.s.tsx
  stories/index.stories.js
  tsconfig.json
  tslint.json
Due: tslint -c tslint.json -p tsconfig.json

no lint
  .huskyrc
Due: none

storybook add scss config
  .storybook/webpack.config.js
  package-lock.json
  package.json
Due: none

remove test
  src/test.scss
  src/text/index.ts
  src/text/stories/test.s.tsx
Due: tslint -c tslint.json -p tsconfig.json, sass-lint -vq

add modal
  .gitignore
  .storybook/addons.js
  .storybook/config.js
  .storybook/config.ts
  .storybook/webpack.config.js
  docs/storybook.md
  package-lock.json
  package.json
  src/_util/closest.tsx
  src/index.tsx
  src/modal/Modal.tsx
  src/modal/PropsType.tsx
  src/modal/alert.tsx
  src/modal/index.tsx
  src/modal/operation.tsx
  src/modal/prompt.tsx
  src/modal/stories/README.md
  src/modal/stories/demo.jsx
  src/modal/stories/modal.s.jsx
  src/modal/style/Dialog.less
  src/modal/style/index.less
  src/modal/style/index.tsx
  src/style/anim.less
  src/style/index.less
  src/style/index.tsx
  src/style/mixins.less
  src/style/mixins/hairline.less
  src/style/mixins/icon.less
  src/style/mixins/util.less
  src/style/themes/default.less
  src/typings/custom.d.ts
  src/typings/index.d.ts
  tslint.json
Due: tslint -c tslint.json -p tsconfig.json

remove lint
  .huskyrc
  tslint.json
Due: none

add ts config
  .gitignore
  .storybook/webpack.config.js
  package.json
Due: none

update demo
  src/modal/stories/modal.s.jsx
Due: none

add nav-bar
  src/index.tsx
  src/nav-bar/PropsType.tsx
  src/nav-bar/index.tsx
  src/nav-bar/stories/README.md
  src/nav-bar/stories/demo.jsx
  src/nav-bar/stories/modal.s.jsx
  src/nav-bar/style/index.less
  src/nav-bar/style/index.tsx
Due: tslint -c tslint.json -p tsconfig.json

rename
  src/nav-bar/stories/index.s.jsx
Due: none

add project dep
  package.json
Due: none

add icon
  src/icon/PropsType.tsx
  src/icon/index.tsx
  src/icon/loadSprite.tsx
  src/icon/stories/README.md
  src/icon/stories/demo.jsx
  src/icon/stories/index.s.jsx
  src/icon/style/index.less
  src/icon/style/index.tsx
  src/index.tsx
Due: tslint -c tslint.json -p tsconfig.json

add toast
  src/index.tsx
  src/toast/index.tsx
  src/toast/stories/README.md
  src/toast/stories/demo.jsx
  src/toast/stories/index.s.jsx
  src/toast/style/index.less
  src/toast/style/index.tsx
Due: tslint -c tslint.json -p tsconfig.json

add list
  src/index.tsx
  src/list/Brief.tsx
  src/list/List.tsx
  src/list/ListItem.tsx
  src/list/PropsType.tsx
  src/list/index.tsx
  src/list/stories/README.md
  src/list/stories/demo.jsx
  src/list/stories/index.s.jsx
  src/list/style/index.less
  src/list/style/index.tsx
  yarn.lock
Due: tslint -c tslint.json -p tsconfig.json

Path conditions:
  tslint -c tslint.json -p tsconfig.json: any of: src/**/*.{ts,tsx}
  sass-lint -vq: any of: src/**/*.scss
